<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810954949220-d91p6ml9bcdusff2dojhjsdka6cctauh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810954949220-d91p6ml9bcdusff2dojhjsdka6cctauh</string>
	<key>API_KEY</key>
	<string>AIzaSyA0x_U-HVfoARRWJv9ePxL7dZhLrPh3zc8</string>
	<key>GCM_SENDER_ID</key>
	<string>810954949220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aibekigizbayev.musicplayer</string>
	<key>PROJECT_ID</key>
	<string>music-4e119</string>
	<key>STORAGE_BUCKET</key>
	<string>music-4e119.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810954949220:ios:641785c62ca9671d8a5571</string>
</dict>
</plist>